<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<title>Common Error Page</title>

<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<body>
<div class="row">
				<div class="col-md-12 page-500">
					<div class=" number">
						 404
					</div>
					<div class=" details">
						<h3>访问页面不存在</h3>
						<p>
						您可以通过以下几种方式重试:<br/>
							1.请确认路径正确后重试;<br/>
							2.稍后重试或者联系管理员;<br/>
						</p>
					</div>
				</div>
			</div>
</body>
</html>