<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <!--引入静态资源-->
    <link th:include="common/statics :: globalsource"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="alert alert-danger alert-dismissible col-md-12" role="alert" th:if="${er_msg != null}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span th:text="${er_msg}"></span>
        </div>
        <div class="alert alert-success alert-dismissible col-md-12" role="alert" th:if="${success_msg != null}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span th:text="${success_msg}"></span>
        </div>
    </div>
    <br>
    <div class="portlet-body clearfix collapse in" id="searchWrapper">
        <form class="margin-space-top save-module" th:action="${#httpServletRequest.getContextPath()}+'/user/changePassword.htm'" method="post" id="dataForm" onsubmit="return valiPass();">
            <div class="input-wrapper">
                <label class="form-label">原密码</label>
                <input class="form-input" type="password" placeholder="请正确输入原始密码"
                       required="required" maxLength="20" name="password" />
            </div>
            <br/>
            <div class="input-wrapper">
                <label class="form-label">新密码</label>
                <input class="form-input" type="password"
                       required="required" maxLength="20" name="newPassword" id="newpassword1"/>
            </div>
            <br/>
            <div class="input-wrapper">
                <label class="form-label">再次输入新密码</label>
                <input class="form-input" type="password" required="required" maxLength="20"
                       name="gnewPassword" id="newpassword2"/>
            </div>
            <div class="col-md-12">
                <div class="btn-wrapper">
                    <button class="a-btn green" type="submit"> <i class="fa fa-check"></i> 保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    function valiPass(){
        if($("#newpassword1").val() == $("#newpassword2").val()) {
            return true;
        } else {
            alert("两次输入的新密码不一致，请重新输入!");
            return false;
        }
    }
</script>
</html>