<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.primeton.dailyreport.dao.mapper.DailyUserMapper">

    <resultMap id="baseResultMap" type="com.primeton.dailyreport.dao.pojo.DailyUser">
        <id column="f_uid" property="uid" jdbcType="INTEGER"/>
        <result column="f_username" property="username" jdbcType="VARCHAR"/>
        <result column="f_realname" property="realname" jdbcType="VARCHAR"/>
        <result column="f_password" property="password" jdbcType="VARCHAR"/>
        <result column="f_jurisdiction" property="jurisdiction" jdbcType="CHAR"/>
        <result column="f_ame_username" property="ameUsername" jdbcType="VARCHAR"/>
        <result column="f_ame_password" property="amePassword" jdbcType="VARCHAR"/>
        <result column="f_ame_projectid" property="ameProjectId" jdbcType="INTEGER"/>
        <result column="f_ame_taskid" property="ameTaskId" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryUser" resultMap="baseResultMap">
        SELECT f_uid,f_username,f_realname,f_password,f_jurisdiction,
                f_ame_username,f_ame_password,f_ame_projectid,f_ame_taskid
        FROM t_dr_user
        WHERE f_username = #{username} and f_password = #{password};
    </select>

    <select id="queryAll" resultMap="baseResultMap">
        SELECT f_uid,f_username,f_realname,f_password,f_jurisdiction,
                f_ame_username,f_ame_password,f_ame_projectid,f_ame_taskid
        FROM t_dr_user where f_jurisdiction !='1';
    </select>

    <update id="changePassword">
        update t_dr_user set f_password = #{password} where f_uid = #{uid};
    </update>

    <update id="bindAme">
        update t_dr_user set f_ame_username = #{ameUsername},f_ame_password = #{amePassword},
                             f_ame_projectid = #{ameProjectId},f_ame_taskid = #{ameTaskId}
        where f_uid = #{uid};
    </update>

</mapper>